<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>goagent</string>
    <key>KeepAlive</key>
    <true/>
    <key>UserName</key>
		<string>xudejian</string>
    <key>WorkingDirectory</key>
		<string>/Users/xudejian/goagent/local/</string>
    <key>ProgramArguments</key>
    <array>
      <string>python</string>
      <string>proxy.py</string>
    </array>
  </dict>
</plist>
