<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>polipo.direct</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>UserName</key>
    <string>IT001-xu</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/boxen/homebrew/bin/polipo</string>
      <string>-c</string>
      <string>/Users/IT001-xu/src/dotfiles/polipo/direct.poliporc</string>
    </array>
  </dict>
</plist>
